@media screen and (min-width: 1024px) {
    main #education > article > header span,
    main #professional-experience > article > header span {
        position: absolute;
    }
}

@supports (display: grid) {
    @media screen and (min-width: 768px) {
        main {
            display: grid;
            grid-auto-rows: minmax(min-content, max-content);
            grid-template-columns: 0.8fr 1.2fr;
            grid-template-rows: 1fr;
            grid-gap: 4rem;
        }
    }

    @media screen and (min-width: 1024px) {
        main {
            grid-gap: 8rem;
        }
    }
}

/* If the device has any setup related to avoid motion sickness */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.001s !important;
        transition-duration: 0.001s !important;
    }
}

@media print {
    body {
        color: #222831;
    }
}